@font-face {
    font-family: digital;
    src: url(../../assets/fonts/digital.ttf);
}

.counter {
    font-size: 1.4rem;
    font-family: digital;
    display: flex;
}

.active {
    animation: active-timer infinite 1.2s steps(2, start);
}

@keyframes active-timer {
    to {
        visibility: hidden;
    }
}