.my-input{
    margin: 5px;
    margin-top: 25px;
    width: 120px;
    border-radius: 15px;
}

.input-title{
    color: gray;
    transform: translateX(-120px);
    display: inline-block;
    transition: transform .5s;
}

.my-input:focus + span{
    color: green !important;
    transform: translate(-130px, -20px);
}